<div style="width: 100%;height: 100%;display: flex; flex-direction: column; align-items: center; margin-top: 7%;">
    <mat-card style="margin-bottom: 10px;"><b style="font-size: 15px;color: #3f51b5;">Hola!</b> Introduce tus credenciales <b style="font-size: 15px;color: #3f51b5;">:)</b></mat-card>
    <div class="example-form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td  colspan="2"><mat-form-field class="example-full-width">
                <mat-label>usuario</mat-label>
                <input matInput placeholder="Ex. malvodio" value="" [(ngModel)]="username" required>
                </mat-form-field></td>
            </tr>
            <tr>
                <td colspan="2"><mat-form-field class="example-full-width">
                <mat-label>paswoord</mat-label>
                <input matInput placeholder="*******" value="" [(ngModel)]="password" required>
                </mat-form-field></td>
            </tr>
            <tr>
                <td colspan="2">
                <p style="color: red;max-width: 200px;">{{message}}</p>
                </td>
            </tr>
            <tr>                
                <td>
                    <button mat-raised-button (click)="validarcredenciales()" color="primary">Log In</button>                  
                </td>
                <td>
                    <a style="display: flex;justify-content: center;text-decoration: none;" routerLink="/register">Nuevo por aqui?</a>                
                </td>
            </tr>
        </table>       
    </div>
</div>
