<div style="width: 100%;height: 100%;display: flex; flex-direction: column; align-items: center; margin-top: 7%;">
    <mat-card style="margin-bottom: 40px; width: 50%;">
        <b style="margin-bottom:20px; font-size: 30px;color: #3f51b5;">Hablemos del proyecto...</b>
        <br>
        <br>        
        <div>Nosotros somos TOKEN un iniciativa de estudiantes de la carrera de ingenieria la cual busca 
            el desarrollo de un sistema en una aplicación web que permita a los distintos usuarios ser
             capaces de generar bonos o acceder a uno ya generado considerando los distintos datos que
              cada uno proporciona como el tiempo, la frecuencia de pago, el monto nominal, etc. 
              La aplicación Token está destinado a aquellas empresas que buscan tener acceso en todo momento
               a la información del Bono que esté emitiendo una determinada empresa y poder financiarse ya 
               sea para que su empresa crezca sin la necesidad de recurrir a un préstamo de una entidad 
               bancaria. Esta forma de Bono ayuda a varias empresas que no están de acuerdo con las tasas 
               que imponen alguna entidad bancaria. A su vez también está enfocado a llevar en total control 
               los bonos emitidos de una empresa para que esta siempre lleve un monitoreo del estados de cada
                bono emitido.
    </div></mat-card>
