<div style="width: 100%;height: 100%;display: flex; flex-direction: column; align-items: center; margin-top: 7%;">
    <div style="width: 50%;">
        <h1><b style="margin-bottom: 20px;color: #3f51b5;margin-bottom: 20px;">Nuestros integrantes del proyecto (Y)</b></h1>
        <mat-card style="margin-bottom: 12px;">
            <div style="font-size: 15px;color: #3f51b5;">Diego Miranda</div>
            <div>Estudiante actual de Ciencias de la computacion ofrecio todos sus conocimientos en el desarrollo del backend que nutrio a la logica de nuestro proyecto</div>
        </mat-card>
        <mat-card style="margin-bottom: 12px;">       
            <div style="font-size: 15px;color: #3f51b5;">Christian Espiritu</div>
            <div>Estudiante actual de Ciencias de la computacion puso todos sus conocimientos para lograr el frontend (interfaz) a todo el proyecto</div>
        </mat-card>
        <mat-card style="margin-bottom: 12px;">
            <div style="font-size: 15px;color: #3f51b5;">Renzo Landa</div>
            <div>Estudiante actual de Ingenieria de Sistemas propuso la base de datos que permite el manejo optimo de la data</div>
        </mat-card>
        <mat-card style="margin-bottom: 12px;">
            <div style="font-size: 15px;color: #3f51b5;">Jose Riveros</div>
            <div>Estudiante actual de Ingenenieria de Sistemas elaboro la documentacion del proyecto para un entendimiento de todos los integrantes</div>
        </mat-card>
        <mat-card style="margin-bottom: 12px;">
            <div style="font-size: 15px;color: #3f51b5;">Mendez Marco</div>
            <div>Estudiante actual de Ingenieria de Sistemas elaboro los diseños para las interfaces asi como el flujo de las mismas</div>
        </mat-card>
    </div>
</div>